:root {
  --background-color: #f0e2d0;
  --primary-color: #70af85;
  --hover-color: #97bda2;
}

* {
  box-sizing: border-box;
}

html,
body,
#react-target {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: var(--background-color);
}

.login_form {
  padding: 3rem 6rem;
}

.sidebar-button {
  color: var(--primary-color);
  font-size: 2rem;
  height: auto;
}

.sidebar-button:not(:disabled):hover {
  color: var(--hover-color);
}
